.site-header{
    background-color: #CE0505;
    height: 62px;
}

.site-name{
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    padding-top: 4px;
    padding-left: 30px;
}

.log-in, .create-acc{
    color: #fff;
    font-size: 14px;
    padding-top: 18px;
}

.acc-button{
    background-color: #CE0505;
    color: #fff;
    border: 1px solid #fff;
    padding-bottom: 4px;
}

#back-img{
    background-image: url("../img/shutterstock_348320018@2x.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    max-width: 100%;
    position: relative;
}

.search{
    position: absolute;
    top: 85px;
}

.logo-text{
    color: #EB2929;
    font-size: 44px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 17px 26px;
    background-color: #fff;
}

.caption{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    padding-top: 15px;
}

.search-bars{
    padding-top: 20px;
}

.places, .hotels{
    color: #636F88;
    font-size: 13px;
    padding: 8px;
}

.places{
    width: 180px;
    margin-right: 8px;
}

.hotels{
    width: 300px;
}

.quick-search{
    margin-top: 45px;
    margin-bottom: 80px;
}

.search-title{
    color: #192F60;
    font-size: 23px;
    font-weight: 700;
}

.search-description{
    color: #8C96AB;
    font-size: 16px;
}

.meal-types{
    margin-top: 20px;
    justify-content: space-between;
}

.meals{
    height: 130px;
    width: 295px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 3px 6px #00000029;
}

.meal-img{
    height: 130px;
    width: 134px;
}

.card-body{
    width: 160px;
    padding-left: 28px;
    padding-right: 0px;
}

.card-title{
    color: #192F60;
    font-size: 18px;
    font-weight: 700;
}

.card-text{
    color: #8C96AB;
    font-size: 14px;
}




