
.footer{
    padding: 0px;
}

.footer-body{
    background-color: black;
    color:  #fff;
    text-align: center;
    padding: 20px;
}

.sub-body{
    padding: 20px;
}

.categories{
    display: inline-block;
    width: 30%;
    border-right: 1px solid white;
}

ul{
    list-style: none;
}

.no-border{
    border: none;
}

.socialImg{
    height: 50px;
    width: 100px;
}