body {
    background-color: #FBFBFB;
}

.restaurants_list{
    margin-top: 35px;
    margin-left: 7%;
    position: relative;
}

.filterSort{
    height: 500px;
    width: 220px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    padding-top: 14px;
    padding-left: 25px;
}

.filter{
    color: #192F60;
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

#content {
    width: 60%;
    float: left;
    margin-left: 3%;
}

.item {
    width: 580px;
    height: 240px;
    background-color: #FFF;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    position: relative;
}

.restaurants{
    width: 575px;
    margin-top: 3%;
    position: absolute;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin-left: 5%;
}

.details{
    padding-left: 65px;
    padding-top: 6px;
}

.hotel-name {
    font-size: 18px;
    font-weight: 600;
}

.link{
    color: #06224b;
    font-size: 20px;
    text-decoration: none;
}

.city-name {
    font-size: 13px;
    color: #636F88;
}

.category{
    font-size: 14px;
    font-weight: 600;
    color: #192F60;
}

.labelDiv span{
    margin-right: 3%;
}





